body {
    font-family: Arial, sans-serif;
}

h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

br {
    line-height: 0.2;
}

#results {
    margin-top: 5px;
}

.result-item {
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 2px;
}

.caret {
    cursor: pointer;
    margin-right: 0.5em;
    font-weight: bold;
    user-select: none;
}

.year-caret {
    margin-top: 1em;
    font-size: 1em;
}

.person-details {
    margin-left: 1em;
    font-size: 0.9em;
    display: none;
}

.instructions {
  font-size: 14px;
  color: black;
  line-height: 1.6;
  text-align: justify;
  border-radius: 5px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}